/bin/
.project
.classpath
Results.csv
Results.xlsx
Run_out.txt
Run_out[old1].txt
Run_out[old2].txt
Run_out[old].txt
~$Results.xlsx
Run_out[old1].txt
Run_out[old2].txt
Run_out[old].txt
Run_out[old1].txt
Run_out[old2].txt
Run_out[old].txt
